/* * {
    outline: solid 2px green;
} */

ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

button {
    border: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px
}

:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --logo-color: #000000;
    --hero-color: #FFFFFF;
    --footer-color: rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
    --primary-background_color: #F5F5F5;
    --secondary-background-color: #F5F4FA;
    --footer_background_color: #2F303A;
}

.studio,
.studio-portfolio {
    background-color: var(--hero-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.over {
    background-color: var(--hero-color);
    border: 1px solid #ECECEC;
    /* max-width: 1600px;
    margin: 0 auto; */
}

.main-over {
    display: flex;
    align-items: center;
}
/* Навігація */

.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: var(--logo-color);
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.studio {
    position: relative;
    color: var(--accent-color);
}

.link.studio::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    overflow: hidden;
}

.link.portfolio {
    position: relative;
    color: var(--accent-color);
}

.link.portfolio::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    overflow: hidden;
}

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts .item + .item {
    margin-left: 50px;
}

.contacts .link {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.envelope,
.smartphone {
    margin-right: 10px;
    fill: currentColor;
    /* display: block;
    position: relative;
    margin-top: -2px; */

}

/* Герой-секція */

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    max-width: 1600px;
   background-color: var(--footer_background_color); 
   margin: 0 auto;
   padding: 200px 0;
}

.hero-tittle {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    padding: 10px 32px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Особливості */
/* Прихований заголовок */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.speciality {
    padding-bottom: 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .item {
    width: 270px;
}

.features .item:not(:last-child) {
    margin-right: 30px;
}


.features-name {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-details {
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.feature-icon1 {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

/* Чим ми займаємося */

.work-do {
    margin-bottom: 50px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.employment {
    display: flex;
}

.employment .item:not(:last-child) {
    margin-right: 30px;
}

.employment-name {
    position: relative;
    line-height: 0;
}

.employment-name .name-item {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
    background-color: var(--secondary-background-color);
}

.team-name,
.regular {
    margin-bottom: 50px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-photo {
    margin-bottom: 30px;
}

.team-initials {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
}

.teams:not(:last-child) {
    margin-right: 30px;
}

.teams {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover {
    background-color: var(--accent-color);
    color: var(--hero-color);
    border-radius: 50%;
}

.icons-item {
    fill: currentColor;
}


/* Постійні клієнти */

.regular-clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    background-color: var(--hero-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients li:not(:last-child) {
    margin-right: 30px;
}

.clients-link:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.client {
    fill: currentColor;
}

/* Підвал сайту */

.under {
    padding: 60px 0;
    background-color: var(--footer_background_color);
}

.logo-studio-ftr {
    color: var(--hero-color)
}
.address {
    margin-top: 20px;
    margin-bottom: 9px;
    color: var(--hero-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contact-ftr {
    color: var(--footer-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-ftr {
    margin-bottom: 9px;
}

.contact-ftr:hover,
.contact-ftr:focus {
    color: var(--accent-color);
}

.nav-icons p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color)
}

.contacts-ftr {
    margin-right: 70px;
}

.container-ftr {
    display: flex;
}

.icons-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.icons-link-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--hero-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-ft li:not(:last-child) {
    margin-right: 10px;
} 

.icons-link-ft:hover {
    background-color: var(--accent-color);
    color: var(--hero-color);
    border-radius: 50%;
}

.icons-ft-item {
    fill: currentColor;
}

.subscribe-ft {
    margin-left: 93px;
}

.subscribe-ft label {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
}

.subscribe-ft input {
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    width: 358px;
    height: 50px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer_background_color);
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-ft input::placeholder {
    /* padding: 15px 0 15px 16px; */
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-sub {
    padding: 10px 62px 10px 28px;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-sub {
    display: inline-block;
    position: relative;
}

.button-sub svg {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}

/* Портфоліо */

.portfolio-nav {
    display: flex;
    justify-content: center;
}

.portfolio-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-nav .item {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav li:last-child {
    margin-bottom: 50px;
}

.portfolio-nav .item:hover,
.portfolio-nav .item:focus,
.portfolio-nav .item:active {
    color: var(--hero-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Перелік проектів */

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.gallery-thumb {
    position: relative;
    overflow: hidden;
}

.project-thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-thumb {
    transform: translateY(0);
    opacity: 1;
}

.project-information {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-color);
}

.project-name {
    margin-bottom: 4px;
    margin-top: 20px;
    margin-left: 24px;
    margin-left: 24px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
    margin-left: 24px;
    margin-left: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 250ms linear, visibility 2500ms linear, transform 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.92);
}

.modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    background-color: var(--hero-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    fill: var(--accent-color)
}

.order-title {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-enter {
    position: relative;
}

.form-enter svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus + svg {
    fill: var(--accent-color);
}

.form-field input:focus, .form-field textarea:focus {
    outline: 1px solid var(--accent-color);
    border: none;
    border-radius: 4px;
}

.form-field label {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.form-field input {
    padding: 12px 42px;
    margin: 0;
    width: 448px;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    width: 448px;
    height: 120px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-agree {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

/* .form-agree input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
} */

.form-agree input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-none {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
}

.check-ok {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.form-agree input:checked ~ label .check-none {
    opacity: 0;
}

.form-agree input:checked ~ label .check-ok {
    opacity: 1;
}

.form-agree label {
    margin-left: 23px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.form-agree-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-button {
        padding: 10px 52px;
        margin: 0 auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        color: var(--hero-color);
        background-color: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
}

