.speciality {
    padding-bottom: 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features .item {
    width: 270px;
}

.features .item:not(:last-child) {
    margin-right: 30px;
}


.features-name {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-details {
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.feature-icon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}